section {
    text-align: center;
}

header {
    padding: 40px;
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #EDECE8;
    z-index: 1;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

header h1 {
    grid-column-start: 2;
    font-size: medium;
    letter-spacing: 3px;
    margin: 0;
    line-height: 40px;
}

.cart {
    margin: 50px;
}

.order-details {
    width: 40%;
    margin: auto;
    text-align:left;
}

.next-button {
    font-size: larger;
    font-weight: bold;
    color: #6C6054;
}

h3 {
    margin: 50px;
}